*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family:'Arial';
    color: black;
    font-size:14px;
    margin:0;
}
.row{
    width:100%;
    position:relative;
    margin-left:15px;

}
.content{
    text-align:left;
    margin:10px;
}
.innerdiv{
    position:relative;
    width:95%;
    margin-top:20px;
    background-color: pink;
    border :5px solid purple;

}
.title{
    font-weight:Bold;
    font-size:1.75em;
    color: black;
    text-align:center;
    margin:20px;
}
.subtitle{
    background-color:blue;
    position:absolute;
    top:-1px;
    right:-1px;
    border:1px solid black;
    font-size:1.75em;
    color:gainsboro;
    padding:5px;
}



@media screen and (min-width:992px){
    .col-lg-4{
        position:relative;
        float:left;
    }
    .col-lg-4{width:33.33%}
}
@media screen and (min-width:768px) and (max-width:991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6{
        position:relative;
        box-sizing:border-box;
        margin-right:25px;
    }
    #first{
        float:left;
        width:50%;
    }
    #second{
        float:right;
        width:50%;
    }
    #third{
        width:100%;
        margin-top:20px;
        clear:both;

    }

}